/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Bradley Hand, cursive;
    line-height: 1.6;
    color: #2c2c2c;
    background-color: #fefaf6;
}

/* Header Styles */
header {
    background-color: #eacaca;
    color: #2c3e50;
    padding: 2rem 0;
    text-align: center;
    box-shadow: 0 4px 8px #2c3e50;
}

header h1 {
    font-size: 3rem;
    font-weight: bold;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 15px;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #2c3e50;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
    font-family: Bradley Hand, cursive;
}

nav ul li a:hover {
    color: #fff;
    font-weight: bolder;
}

/* About Section */
#about {
    padding: 3rem;
    text-align: center;
    background-color:#2c3e50;
    color: #eacaca;
    border-radius: 10px;
    margin: 2rem auto;
    max-width: 80%;
    font-family: Bradley Hand, cursive;
}

#about h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

#about p {
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
}

#about img {
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
}


#types {
    padding: 3rem;
    background-color: #fff;
}

.filter-buttons {
    text-align: center;
    margin-bottom: 20px;
}




#types h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    
}

h4 {
    font-size: 2rem;
    margin-top: 2rem;
    color: #2c3e50;
    
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
    
}

table th, table td {
   
    padding: 15px;
    text-align: center;
    font-size: 1rem;
    
}

table th, table td, table tr{
    border-radius: 30px;
}

table th {
    background-color: #2c3e50;
    color: #fff;
}

table tr:nth-child(even) {
    background-color: #f9f4ef;
}

table tr:hover {
    background-color:#eacaca ;
}

/* Contact Section */
#contact {
    padding: 3rem;
    text-align: center;
    background-color: #eacaca;
    color: #fff;
}

#contact h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

#contact p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

#contact a {
    color:#2c3e50;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

#contact a:hover {
    color: #fff;
}

/* Footer */
footer {
    text-align: center;
    padding: 1.5rem 0;
    background-color: #ffb2d6;
    color: #fff;
}

footer a {
    color: white;
    text-decoration: underline;
    font-weight: bold;
}

footer a:hover {
    color:#2c3e50;
}

/* Responsive Design */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin-bottom: 10px;
    }

    table {
        font-size: 0.9rem;
    }
}




#about p, #contact p {
    font-size: 1.2rem;
    line-height: 1.8;
}

#types h3 {
    text-align: left;
    margin-bottom: 1rem;
}

table tr {
    transition: background-color 0.3s ease;
}

footer {
    text-align: center;
    padding: 1.5rem 0;
    background-color:#eacaca;
    color:#2c3e50;
}

footer a {
    color: #2c3e50;
    text-decoration: underline;
}

footer a:hover {
    color: #fff;
}

.footer-icons {
    margin-top: 10px;
}

.footer-icons a {
    display: inline-block;
    margin: 0 10px;
    color: #2c3e50;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.footer-icons a:hover {
    color:#2c3e50;
}


.map-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
}

.map-container iframe {
    width: 100%;
    height: 300px;
    border: none;
    border-radius: 10px;
}

#backToTopButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color:#2c3e50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}


#aboutCanvas {
    margin-top: 10px;
    border: 1px solid #eacaca; 
    border-radius: 10px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

