body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #fff; 
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:  #2c3e50;
  color: #eacaca;
  padding: 20px;
  box-shadow: 0 2px 10px #eacaca;
}

.logo {
  font-size: 28px;
  font-weight: bold;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin-left: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color:#eacaca;
}

.hero {
  text-align: center;
  background-color: #eacaca;
  padding: 50px 20px;
  border-bottom: 2px solid #eacaca;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 10px;
  color:#fff
}

.hero p {
  font-size: 18px;
  color: #fff;
}

main {
  max-width: 700px;
  margin: 30px auto;
  padding: 40px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 20px #fff;
}

form {
  display: flex;
  flex-direction: column;
}


label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

input[type="submit"] {
  background-color: #eacaca;
  color: #fff;
  border: none;
  padding: 12px 0;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color:#2c3e50;
}

.ul {
  margin-top: 30px;
  padding: 10px;
  background-color: #fff1f1;
  border: 1px solid #2c3e50;
}

.li {
  list-style-type: none;
}

.li a {
  text-decoration: none;
  color:#2c3e50;
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  transition: background-color 0.3s;
}

.li a:hover {
  background-color: #f2d6d6;
}

.chkbx, .rdbtn {
  margin-top: 30px;
}

footer {
  background-color: #eacaca;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
}

footer p {
  margin: 5px 0;
}