* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #2c3e50;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 26.5px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #fff; 
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

nav a:hover {
  color: #e74c3c;
}

.cart {
  display: flex;
  align-items: center;
}

.cart a {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
}

.cart-items {
  display: inline-block;
  background: #e74c3c;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 8px;
  border-radius: 50%;
  margin-left: 5px;
}

.hero {
  background: #eee;
  padding: 100px 0;
  text-align: center;
}

.hero h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero p {
  font-size: 24px;
  margin-bottom: 40px;
}

.btn {
  display: inline-block;
  background: #e74c3c;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background: #c0392b;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding: 50px;
  background: #f9f9f9;
}

.products h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 40px;
}

  .product {
    flex: 0 1 calc(25% - 40px); 
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border-radius: 5px;
    transition: transform 0.3s ease;

}

.product img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
  transition: transform 0.3s ease;
}

.product h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 20px;
}

.product p {
  font-size: 16px;
  margin: 0 20px 20px;
}

.price {
  display: block;
  font-size: 24px;
  font-weight: bold;
  margin: 0 20px 20px;
}

.product a {
  display: inline-block;
  background: rgb(165, 6, 6);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  margin: 0 20px 20px;
}

.product a:hover {
  background: #c0392b;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.product:hover img {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .product {
    flex: 0 1 calc(50% - 40px); 
  }
}

@media (max-width: 480px) {
  .product {
    flex: 0 1 calc(100% - 20px); 
  }
}