* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: rgb(165, 6, 6);
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
}


.header p a {
    color: white;
    text-decoration: none;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 500;
}

.header p a:hover {
    color: black;
    transition: .5s;

}

.container {
    width: 35%;
    min-height: 50px;
    padding: 5%;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    padding-right: 0px;
}

.search-bar {
    width: 80%;
    max-width: 600px;
    height: 40px;
    background: white;
    display: flex;
    align-items: center;
    border-radius: 40px;
    padding: 5px 10px;
}
.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 10px 5px; 
    font-size: 15px;
    color: black;
}

.search-bar button {

    border: 0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: rgb(165, 6, 6);
    cursor: pointer;
}

.search-bar button:hover {
    background-color: black;
    transition: .5s;
}

button i {
    color: white;
}

.body {
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    font-family: Georgia, serif;
    justify-content: space-between;
    background-color: #fff;
    z-index: 1000;
    height: 80px;
    align-items: center;
}

.body .kits {
    float: right;
    margin-right: 20px;

}

.body .kits a i {
    display: inline-block;
    line-height: 30px;
    margin: 0 5px;
    color: rgb(1, 29, 36);
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: none;
    border-radius: 120px;
    font-size: 25px;

}

a i:hover {
    background: rgb(165, 6, 6);
    transition: .5s;
    border-radius: 120px;
    transition: .5s;
}

.main-bar {
    margin-top: 60px;
    margin-left: 45px;
    padding-top: 10px;
    border-radius: 5px;
    width: 93%;
    height: 40px;
    background: black;
}

.main-bar .link {
    padding-left: 47px;
    align-items: center;
    font-weight: 500;
    text-decoration: none;
    color: white;
}

.main-bar .link:hover {
    color: rgb(165, 6, 6);
    transition: .5s;
}

.images {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1000;
    align-items: center;

}

.first-pic img {
    width: 650px;
    height: 600px;
    padding-top: 60px;
    padding-left: 20px;


}

.title {
    padding-left: 20px;
}

.huge {
    font-size: 100px;
    font-weight: 300;
}

.title .paragraph {
    padding-top: 40px;
    color: rgb(138, 131, 131);
    font-size: 20px;
}

.read-more p {
    padding-right: 15px;
    padding-top: 550px;
    flex-direction: row;
    display: flex;
    justify-content: space-between;

}

.read-more p a {
    color: red;
    text-decoration: none;
    padding-left: 5px;
}

.pic img {
    width: 400px;
    height: 300px;
    padding-top: 60px;
    padding-left: 20px;

}
.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 60px;
    background-color: rgb(222, 222, 235);

}


.services img {
    width: 110px;
    height: 100;

}